<form action="/places" method="post">
  <label for="placeNmae">Add the city name you have been</label>
  <input id="placeName" name="placeName" type="text">
  <button type="submit">Submit</button>
</form>